<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :participants %><br>
    <%= f.number_field :participants %>
  </div>
  <div class="field">
    <%= f.label :estimated_end_time %><br>
    <%= f.time_select :estimated_end_time %>
  </div>
  <!-- <div class="field">
    <%= f.label :end_time %><br>
    <%= f.time_select :end_time %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
