<p id="notice"><%= notice %></p>


<p>
  <div class="big"># Particicipantes
  <%= @meeting.participants %>
  </div>
</p>

<p>
  <div class="big">Duração
    <%= @meeting.duration_for_humans %>
  </div>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
