<p id="notice"><%= notice %></p>


<p>
  <div class="big"># Particicipantes
  <%= @meeting.participants %>
  </div>
</p>

<p>
  <div class="big">Duração
    <%= TimeDifference.between(@meeting.created_at.time, @meeting.end_time).in_minutes %>
  </div>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
